<?xml  version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN"   "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0" >
<!-- Generated via Iro -->
<dict>
  <key>fileTypes</key>
  <array> 
    <string>mnd</string>
    <string>mindcode</string>
   </array>
  <key>name</key>
  <string>mindcode</string>
  <key>patterns</key>
  <array> 
    <dict>
      <key>include</key>
      <string>#main</string>
    </dict>
   </array>
  <key>scopeName</key>
  <string>source.mindcode</string>
  <key>uuid</key>
  <string></string>
  <key>repository</key>
  <dict>
    <key>main</key>
    <dict>
      <key>patterns</key>
      <array> 
        <dict>
          <key>include</key>
          <string>#grammar</string>
        </dict>
       </array>
    </dict>
    <key>AllocateSection</key>
    <dict>
      <key>patterns</key>
      <array> 
        <dict>
          <key>match</key>
          <string>(\ballocate\b)(\s*)(?:\b(stack in|heap in)\b)(\s*)(\b(?:[_a-zA-Z][\w]*)\b)</string>
          <key>captures</key>
          <dict>
            <key>1</key>
            <dict>
              <key>name</key>
              <string>keyword.other.mindcode</string>
            </dict>
            <key>2</key>
            <dict>
              <key>name</key>
              <string>whitespace.mindcode</string>
            </dict>
            <key>3</key>
            <dict>
              <key>name</key>
              <string>keyword.other.mindcode</string>
            </dict>
            <key>4</key>
            <dict>
              <key>name</key>
              <string>whitespace.mindcode</string>
            </dict>
            <key>5</key>
            <dict>
              <key>name</key>
              <string>entity.name.mindcode</string>
            </dict>
          </dict>
        </dict>
       </array>
    </dict>
    <key>BracedExpression</key>
    <dict>
      <key>patterns</key>
      <array> 
        <dict>
          <key>begin</key>
          <string>(\{)</string>
          <key>beginCaptures</key>
          <dict>
            <key>1</key>
            <dict>
              <key>name</key>
              <string>keyword punctuation.mindcode</string>
            </dict>
          </dict>
          <key>patterns</key>
          <array> 
            <dict>
              <key>include</key>
              <string>#BracedExpression__1</string>
            </dict>
           </array>
          <key>end</key>
          <string>(\})</string>
          <key>endCaptures</key>
          <dict>
            <key>1</key>
            <dict>
              <key>name</key>
              <string>keyword punctuation.mindcode</string>
            </dict>
          </dict>
        </dict>
       </array>
    </dict>
    <key>BracedExpression__1</key>
    <dict>
      <key>patterns</key>
      <array> 
        <dict>
          <key>include</key>
          <string>#Expression</string>
        </dict>
       </array>
    </dict>
    <key>BracedTypeBody</key>
    <dict>
      <key>patterns</key>
      <array> 
        <dict>
          <key>begin</key>
          <string>(\{)</string>
          <key>beginCaptures</key>
          <dict>
            <key>1</key>
            <dict>
              <key>name</key>
              <string>keyword punctuation.mindcode</string>
            </dict>
          </dict>
          <key>contentName</key>
          <string>keyword punctuation.mindcode</string>
          <key>end</key>
          <string>(\})</string>
          <key>endCaptures</key>
          <dict>
            <key>1</key>
            <dict>
              <key>name</key>
              <string>keyword punctuation.mindcode</string>
            </dict>
          </dict>
        </dict>
       </array>
    </dict>
    <key>BracedTypeBody__1</key>
    <dict>
      <key>patterns</key>
      <array> 
       </array>
    </dict>
    <key>BracketizedExpression</key>
    <dict>
      <key>patterns</key>
      <array> 
        <dict>
          <key>begin</key>
          <string>(\[)</string>
          <key>beginCaptures</key>
          <dict>
            <key>1</key>
            <dict>
              <key>name</key>
              <string>keyword punctuation.mindcode</string>
            </dict>
          </dict>
          <key>patterns</key>
          <array> 
            <dict>
              <key>include</key>
              <string>#BracketizedExpression__1</string>
            </dict>
           </array>
          <key>end</key>
          <string>(\])</string>
          <key>endCaptures</key>
          <dict>
            <key>1</key>
            <dict>
              <key>name</key>
              <string>keyword punctuation.mindcode</string>
            </dict>
          </dict>
        </dict>
       </array>
    </dict>
    <key>BracketizedExpression__1</key>
    <dict>
      <key>patterns</key>
      <array> 
        <dict>
          <key>match</key>
          <string>(\bit\b)</string>
          <key>name</key>
          <string>keyword.mindcode</string>
        </dict>
        <dict>
          <key>include</key>
          <string>#Expression</string>
        </dict>
       </array>
    </dict>
    <key>Expression</key>
    <dict>
      <key>patterns</key>
      <array> 
        <dict>
          <key>include</key>
          <string>#MultiLineComment</string>
        </dict>
        <dict>
          <key>include</key>
          <string>#SingleLineComment</string>
        </dict>
        <dict>
          <key>include</key>
          <string>#ExpressionKeywords</string>
        </dict>
        <dict>
          <key>include</key>
          <string>#Operators</string>
        </dict>
        <dict>
          <key>include</key>
          <string>#MethodCall</string>
        </dict>
        <dict>
          <key>include</key>
          <string>#Punctuation</string>
        </dict>
        <dict>
          <key>include</key>
          <string>#String</string>
        </dict>
        <dict>
          <key>include</key>
          <string>#BracedExpression</string>
        </dict>
        <dict>
          <key>include</key>
          <string>#ParenthesizedExpression</string>
        </dict>
        <dict>
          <key>include</key>
          <string>#BracketizedExpression</string>
        </dict>
        <dict>
          <key>include</key>
          <string>#QualifiedName</string>
        </dict>
       </array>
    </dict>
    <key>ExpressionKeywords</key>
    <dict>
      <key>patterns</key>
      <array> 
        <dict>
          <key>match</key>
          <string>(\bwhile\b|\bif\b|\belse\b|\bcase\b|\bwhen\b|\bfor\b|\b\.\.\b|\b\.\.\.\b|\bend\b|\b==\b)</string>
          <key>name</key>
          <string>keyword.control.mindcode</string>
        </dict>
        <dict>
          <key>match</key>
          <string>(\btrue\b|\bfalse\b|\bnull\b)</string>
          <key>name</key>
          <string>constant.language.mindcode</string>
        </dict>
        <dict>
          <key>include</key>
          <string>#Number</string>
        </dict>
       </array>
    </dict>
    <key>FieldOrVarDecl</key>
    <dict>
      <key>patterns</key>
      <array> 
        <dict>
          <key>include</key>
          <string>#MethodCall</string>
        </dict>
        <dict>
          <key>include</key>
          <string>#Variable</string>
        </dict>
        <dict>
          <key>match</key>
          <string>((\b[_A-Z][A-Z0-9_]*\b)(?=\s*=))</string>
          <key>name</key>
          <string>constant.other.mindcode</string>
        </dict>
        <dict>
          <key>match</key>
          <string>(\b(?:[_a-zA-Z][\w]*)\b(?=\s*=))</string>
          <key>name</key>
          <string>variable.mindcode</string>
        </dict>
        <dict>
          <key>match</key>
          <string>((?:^|\s+)(?:\$[_a-zA-Z][\w]*)\b(?=\s*=))</string>
          <key>name</key>
          <string>Name.Variable.Global.mindcode</string>
        </dict>
        <dict>
          <key>match</key>
          <string>(@\b(?:[_a-zA-Z][\w]*)\b(?=\s*=))</string>
          <key>name</key>
          <string>support.type.mindcode</string>
        </dict>
       </array>
    </dict>
    <key>File</key>
    <dict>
      <key>patterns</key>
      <array> 
        <dict>
          <key>include</key>
          <string>#AllocateSection</string>
        </dict>
        <dict>
          <key>include</key>
          <string>#MethodOrFieldDecl</string>
        </dict>
        <dict>
          <key>include</key>
          <string>#LogicExpression</string>
        </dict>
        <dict>
          <key>include</key>
          <string>#Punctuation</string>
        </dict>
       </array>
    </dict>
    <key>LogicExpression</key>
    <dict>
      <key>patterns</key>
      <array> 
        <dict>
          <key>include</key>
          <string>#ExpressionKeywords</string>
        </dict>
        <dict>
          <key>include</key>
          <string>#Number</string>
        </dict>
        <dict>
          <key>include</key>
          <string>#Variable</string>
        </dict>
        <dict>
          <key>include</key>
          <string>#Operators</string>
        </dict>
       </array>
    </dict>
    <key>MethodCall</key>
    <dict>
      <key>patterns</key>
      <array> 
        <dict>
          <key>match</key>
          <string>(\b(?:[_a-zA-Z][\w]*)\b(?=\())</string>
          <key>name</key>
          <string>entity.name.function.mindcode</string>
        </dict>
        <dict>
          <key>include</key>
          <string>#Parameters</string>
        </dict>
       </array>
    </dict>
    <key>MethodDecl</key>
    <dict>
      <key>patterns</key>
      <array> 
        <dict>
          <key>match</key>
          <string>(\bdef\b)(\s+)(\b(?:[_a-zA-Z][\w]*)\b(?=\())</string>
          <key>captures</key>
          <dict>
            <key>1</key>
            <dict>
              <key>name</key>
              <string>keyword.other.mindcode</string>
            </dict>
            <key>2</key>
            <dict>
              <key>name</key>
              <string>whitespace.mindcode</string>
            </dict>
            <key>3</key>
            <dict>
              <key>name</key>
              <string>entity.name.function.mindcode</string>
            </dict>
          </dict>
        </dict>
        <dict>
          <key>include</key>
          <string>#Parameters</string>
        </dict>
        <dict>
          <key>include</key>
          <string>#Expression</string>
        </dict>
       </array>
    </dict>
    <key>MethodOrFieldDecl</key>
    <dict>
      <key>patterns</key>
      <array> 
        <dict>
          <key>include</key>
          <string>#MethodDecl</string>
        </dict>
        <dict>
          <key>include</key>
          <string>#FieldOrVarDecl</string>
        </dict>
       </array>
    </dict>
    <key>MultiLineComment</key>
    <dict>
      <key>patterns</key>
      <array> 
        <dict>
          <key>begin</key>
          <string>(/\*)</string>
          <key>beginCaptures</key>
          <dict>
            <key>1</key>
            <dict>
              <key>name</key>
              <string>comment.block.mindcode</string>
            </dict>
          </dict>
          <key>contentName</key>
          <string>comment.block.mindcode</string>
          <key>end</key>
          <string>(\*/)</string>
          <key>endCaptures</key>
          <dict>
            <key>1</key>
            <dict>
              <key>name</key>
              <string>comment.block.mindcode</string>
            </dict>
          </dict>
        </dict>
       </array>
    </dict>
    <key>MultiLineComment__1</key>
    <dict>
      <key>patterns</key>
      <array> 
       </array>
    </dict>
    <key>Number</key>
    <dict>
      <key>patterns</key>
      <array> 
        <dict>
          <key>match</key>
          <string>(?:0x[\dABCDEFabcdef]+[Ll]?)|(?:(?:\+|-)?(?:\d+)(?:(?:\.)\d+)?[LlFfdD]?)</string>
          <key>name</key>
          <string>constant.numeric.mindcode</string>
        </dict>
       </array>
    </dict>
    <key>Operators</key>
    <dict>
      <key>patterns</key>
      <array> 
        <dict>
          <key>match</key>
          <string>((!=)|(===)|(==)|(&lt;=)|(&gt;=)|&lt;|&gt;)</string>
          <key>name</key>
          <string>keyword.operator.logical.mindcode</string>
        </dict>
        <dict>
          <key>match</key>
          <string>(!|(&amp;&amp;)|(\|\|)|(and)|(or))</string>
          <key>name</key>
          <string>keyword.operator.logical.mindcode</string>
        </dict>
        <dict>
          <key>match</key>
          <string>(\*|\+|\-|\\|(\+=)|(\-=)|(\*=)|(\\=))</string>
          <key>name</key>
          <string>keyword.operator.arithmetic.mindcode</string>
        </dict>
        <dict>
          <key>match</key>
          <string>(=)</string>
          <key>name</key>
          <string>keyword.operator.assignment.mindcode</string>
        </dict>
       </array>
    </dict>
    <key>Parameters</key>
    <dict>
      <key>patterns</key>
      <array> 
        <dict>
          <key>begin</key>
          <string>(\()</string>
          <key>beginCaptures</key>
          <dict>
            <key>1</key>
            <dict>
              <key>name</key>
              <string>keyword punctuation.mindcode</string>
            </dict>
          </dict>
          <key>patterns</key>
          <array> 
            <dict>
              <key>include</key>
              <string>#Parameters__1</string>
            </dict>
           </array>
          <key>end</key>
          <string>(\))</string>
          <key>endCaptures</key>
          <dict>
            <key>1</key>
            <dict>
              <key>name</key>
              <string>keyword punctuation.mindcode</string>
            </dict>
          </dict>
        </dict>
       </array>
    </dict>
    <key>Parameters__1</key>
    <dict>
      <key>patterns</key>
      <array> 
        <dict>
          <key>include</key>
          <string>#Number</string>
        </dict>
        <dict>
          <key>include</key>
          <string>#String</string>
        </dict>
        <dict>
          <key>include</key>
          <string>#Variable</string>
        </dict>
        <dict>
          <key>match</key>
          <string>(\s*)(\b(?:[_a-zA-Z][\w]*)\b\.\b(?:[_a-zA-Z][\w]*)\b)</string>
          <key>captures</key>
          <dict>
            <key>1</key>
            <dict>
              <key>name</key>
              <string>whitespace.mindcode</string>
            </dict>
            <key>2</key>
            <dict>
              <key>name</key>
              <string>variable.other.member.mindcode</string>
            </dict>
          </dict>
        </dict>
        <dict>
          <key>include</key>
          <string>#Punctuation</string>
        </dict>
       </array>
    </dict>
    <key>ParenthesizedExpression</key>
    <dict>
      <key>patterns</key>
      <array> 
        <dict>
          <key>begin</key>
          <string>(\()</string>
          <key>beginCaptures</key>
          <dict>
            <key>1</key>
            <dict>
              <key>name</key>
              <string>keyword punctuation.mindcode</string>
            </dict>
          </dict>
          <key>patterns</key>
          <array> 
            <dict>
              <key>include</key>
              <string>#ParenthesizedExpression__1</string>
            </dict>
           </array>
          <key>end</key>
          <string>(\))</string>
          <key>endCaptures</key>
          <dict>
            <key>1</key>
            <dict>
              <key>name</key>
              <string>keyword punctuation.mindcode</string>
            </dict>
          </dict>
        </dict>
       </array>
    </dict>
    <key>ParenthesizedExpression__1</key>
    <dict>
      <key>patterns</key>
      <array> 
        <dict>
          <key>include</key>
          <string>#Expression</string>
        </dict>
       </array>
    </dict>
    <key>Punctuation</key>
    <dict>
      <key>patterns</key>
      <array> 
        <dict>
          <key>match</key>
          <string>(,|\,|:|;|\.\.\.|\|)</string>
          <key>name</key>
          <string>punctuation.mindcode</string>
        </dict>
       </array>
    </dict>
    <key>QualifiedName</key>
    <dict>
      <key>patterns</key>
      <array> 
        <dict>
          <key>match</key>
          <string>(\b(?:[_a-zA-Z][\w]*)\b\.\b(?:[_a-zA-Z][\w]*)\b)</string>
          <key>name</key>
          <string>entity.name.mindcode</string>
        </dict>
       </array>
    </dict>
    <key>SingleLineComment</key>
    <dict>
      <key>patterns</key>
      <array> 
        <dict>
          <key>match</key>
          <string>(//.*)</string>
          <key>name</key>
          <string>comment.line.double-slash.mindcode</string>
        </dict>
       </array>
    </dict>
    <key>String</key>
    <dict>
      <key>patterns</key>
      <array> 
        <dict>
          <key>begin</key>
          <string>(\&quot;)</string>
          <key>beginCaptures</key>
          <dict>
            <key>1</key>
            <dict>
              <key>name</key>
              <string>string.quoted.double.mindcode</string>
            </dict>
          </dict>
          <key>contentName</key>
          <string>string.quoted.double.mindcode</string>
          <key>end</key>
          <string>(\&quot;)</string>
          <key>endCaptures</key>
          <dict>
            <key>1</key>
            <dict>
              <key>name</key>
              <string>string.quoted.double.mindcode</string>
            </dict>
          </dict>
        </dict>
        <dict>
          <key>begin</key>
          <string>(\&apos;)</string>
          <key>beginCaptures</key>
          <dict>
            <key>1</key>
            <dict>
              <key>name</key>
              <string>string.quoted.single.mindcode</string>
            </dict>
          </dict>
          <key>contentName</key>
          <string>string.quoted.single.mindcode</string>
          <key>end</key>
          <string>(\&apos;)</string>
          <key>endCaptures</key>
          <dict>
            <key>1</key>
            <dict>
              <key>name</key>
              <string>string.quoted.single.mindcode</string>
            </dict>
          </dict>
        </dict>
       </array>
    </dict>
    <key>String__1</key>
    <dict>
      <key>patterns</key>
      <array> 
       </array>
    </dict>
    <key>String__2</key>
    <dict>
      <key>patterns</key>
      <array> 
       </array>
    </dict>
    <key>Variable</key>
    <dict>
      <key>patterns</key>
      <array> 
        <dict>
          <key>match</key>
          <string>((\b[_A-Z][A-Z0-9_]*\b))</string>
          <key>name</key>
          <string>constant.other.mindcode</string>
        </dict>
        <dict>
          <key>match</key>
          <string>((?:^|\s+)(?:\$[_a-zA-Z][\w]*)\b)</string>
          <key>name</key>
          <string>Name.Variable.Global.mindcode</string>
        </dict>
        <dict>
          <key>match</key>
          <string>(@\b(?:[_a-zA-Z][\w]*)\b)</string>
          <key>name</key>
          <string>support.type.mindcode</string>
        </dict>
        <dict>
          <key>match</key>
          <string>(\b(?:[_a-zA-Z][\w]*)\b)</string>
          <key>name</key>
          <string>variable.mindcode</string>
        </dict>
        <dict>
          <key>match</key>
          <string>(\b(?:[_a-zA-Z][\w]*)\b\.\b(?:[_a-zA-Z][\w]*)\b)</string>
          <key>name</key>
          <string>support.type.mindcode</string>
        </dict>
       </array>
    </dict>
    <key>grammar</key>
    <dict>
      <key>patterns</key>
      <array> 
        <dict>
          <key>include</key>
          <string>#MultiLineComment</string>
        </dict>
        <dict>
          <key>include</key>
          <string>#SingleLineComment</string>
        </dict>
        <dict>
          <key>include</key>
          <string>#File</string>
        </dict>
        <dict>
          <key>match</key>
          <string>([^\s])</string>
          <key>name</key>
          <string>invalid.illegal.mindcode</string>
        </dict>
       </array>
    </dict>
  </dict>
</dict>
</plist>
